services:
  oracle-db:
    image: gvenzl/oracle-xe:21-slim
    container_name: oracle-db
    environment:
      ORACLE_PASSWORD: oracle123
    volumes:
      - oracle-data:/opt/oracle/oradata
    ports:
      - "1522:1521"   # host:container

    healthcheck:
      test: ["CMD", "healthcheck.sh"]
      interval: 10s
      timeout: 5s
      retries: 20

  rabbitmq:
    image: rabbitmq:3-management
    container_name: rabbitmq
    ports:
      - "5672:5672"
      - "15672:15672"

  employee-app:
    build: .
    container_name: employee-app
    depends_on:
      oracle-db:
        condition: service_healthy
    ports:
      - "9908:9908"

volumes:
  oracle-data:
